.one-section
{
    background-image: url("../img/main_bg.png");
    background-image: cover;
}

.two-section
{
    background-color: green;
}

.three-section 
{
    background-color: orange;
}

.four-section 
{
    background-color: grey;
}

.five-section 
{
    background-color: blue;
}